body{

	font-family: 'Amatic SC', cursive;
	font-size: 2em;
	background-color: #eeeeee;
}

.navbar {
	background-color: #093D42;
	font-size: 25px;
	color: white;
	text-align: right;
	padding: 5px;
	// border-radius: 15px;
}

a:link {

	color: #CBDCDD;
}

a:visited {

	color: #CBDCDD;
}



#subcontainer {

display: flex;

/* align-items: center; */

justify-content: space-between;

margin-left: 5em;

margin-right: 5em;

flex: 2 4 20%;

margin-bottom: 3em;

flex-wrap: wrap;

/* background: red; */
}

.title{

	display: inline-flex;
	align-items: center;
	justify-content: justify;
	margin-left: 3em;
	margin-right: 5em;
	flex: 2 4 20%;
	margin-bottom: .2em;
	font-size: 2em;
	font-weight: bold;
}

#editpage {

	display: inline-flex;
	align-items: center;
	justify-content: justify;
	margin-left: 15em;
	margin-right: 45em;
	flex: 2 4 20%;
	margin-bottom: 2em;
}

#oneprod {

	display: inline-flex;
	align-items: center;
	justify-content: justify;
	margin-left: 15em;
	margin-right: 10em;
	flex: 2 4 20%;
	margin-bottom: 2em;
}

.titulo-bonito{

margin: .5em 0;

font-weight: bold;
}


.product {
	font-size: 0.8em;
	border-color: black;
	max-width: 7em;
	min-height: 7em;
	min-width: 7em;
	margin: 1em;
	text-align: justify;
}

.product .titulo-bonito a {

	display: block;
	color: black;
	text-decoration: none;

}

.right_menu {

	display: block;
	margin-left: 5em;
}

.single-error {
	color: red;
	font-weight: bold;
	font-size: 0.8em;
}

.prod_imagen img {

	max-width: 100%;

/* max-height: 5em; */
}

.prod_imagen_grande img {

	max-width: 15em;
	max-height: 15em;
}

.small_text {

	font-size: 0.75em;
}

.tag {
	font-size: .85em;
}
.tag a {
	color: #043935;
	text-decoration: none;
	font-weight: bold;

}

.category a  {
	color: #043935;
	text-decoration: none;
	font-weight: bold;

}

.prod_imagen {
    max-height: 170px;
    overflow: hidden;
    margin: 0.5em 0;
}

.text {
    height: 3em;
    /* vertical-align: middle; */
    line-height: 1em;
    position: relative;
    text-overflow: ellipsis;
    /* white-space: pre-line; */
    /* overflow: hidden; */
}


.product:empty {
	height: 0;
	border: none;
	padding: 0;
	margin: 0;
	min-width: 0;
	min-height: 0;
}

.tag:last-of-type .comma {
	display: none;
}