body{
	/* font-family: 'Amatic SC', cursive; */
	font-family: 'Economica', sans-serif;
	font-size: 2em;
	background-color: white;
	}



.prod-carrito table {
	width: 100%;
}

.navbar {
	background-color: #31240C;
	font-size: 25px;
	color: white;
	text-align: right;
	padding: 5px;
	/* border-radius: 15px; */
}

.navbar div {
	display: inline;
}

.left_menu_bar {
	text-align: right;
}

a:link {

	color: #E1DC53;
	text-decoration: none;
}

#app-navbar-collapse a:hover{
	/*	padding: .2px;
	margin: 5p*/
	color: #cea401;
	}

a:visited {

	color: #E1DC53;
}

#subcontainer {
	display: flex;
	justify-content: space-between;
	margin-right: 20px;
	flex-wrap: wrap;
}

.title{

	display: inline-flex;
	align-items: center;
	justify-content: justify;
	margin-left: 3em;
	margin-right: 5em;
	flex: 2 4 20%;
	margin-bottom: .2em;
	font-size: 2em;
	font-weight: bold;
}

#editpage {

	display: inline-flex;
	align-items: center;
	justify-content: justify;
	margin-left: 15em;
	margin-right: 45em;
	flex: 2 4 20%;
	margin-bottom: 2em;
}

#oneprod {display: block;align-items: center;/* margin-left: 7em; *//* margin-right: 7em; *//* flex: 2 4 20%; *//* margin-bottom: 2em; *//* max-width: 960px; */margin: 0 auto;max-width: 960px;margin-top: 2em;}

.titulo-bonito{margin: 0 auto;text-align: left;font-weight: bold;/* margin-right: 100px; */}

.name-prod {
	font-size: 1.5em;
}

.product {
    font-size: 0.8em;
    border-color: black;
    width: 33.3%;
    text-align: justify;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    padding-bottom: 28px;
}

@media (max-width: 1024) {
	.product {
		max-width: 50%;
	}
}

.product .titulo-bonito a {

	display: block;
	color: #31240C;
	text-decoration: none;

}

.right_menu {

	display: block;
	margin-left: 5em;
}

.single-error {
	color: red;
	font-weight: bold;
	font-size: 0.8em;
}

.prod_imagen img {
	width: 100%;
}

.prod_imagen_grande img {
	height: auto;
	width: 10em;
	max-width: 100%;
}

.text-columns{
	/* display: inline-flex; */
}

.left-panel {
	float: left;
	max-width: 50%;
	/* margin-top: .2em; */
}

.right-panel {
	float: right;
	box-sizing: border-box;
	width: 50%;
}

/*.image_to_zoom:hover {
	transform: scale(2);
}*/

div.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
	background: black;
}

div.overlay > img.zoomed {
	display: inline-block;
	height: 100%;
}

div.overlay > button.close {
	background: black;
	border: 1px solid white;
	color: white;
	border-radius: 50%;
	min-height: 30px;
	min-width: 30px;
	position: absolute;
	top: 4px;
	right: 4px;
	outline: 0;
}

div.overlay > button.close:hover {
	color: red;
}

.small_text {
	font-size: 0.75em;
}

.tag {
	font-size: .85em;
}
.tag a {
	color: #043935;
	text-decoration: none;
	font-weight: bold;
	font-size: .7em;
}

.category a  {
	color: #043935;
	text-decoration: none;
	font-weight: bold;

}

.prod_imagen {
    height: 170px;
    overflow: hidden;
    margin: 0.5em 0;
    /* display: none; */
}

.small img {

	max-width: 200px;
	max-height: 100px;

/* max-height: 5em; */
}
.text {
    /* vertical-align: middle; */
    line-height: 1em;
    position: relative;
    text-overflow: ellipsis;
    /* white-space: pre-line; */
    /* overflow: hidden; */
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: justify;
}


.product:empty {
	height: 0;
	border: none;
	padding: 0;
	margin: 0;
	min-width: 0;
	min-height: 0;
}

.tag:last-of-type .comma {
	display: none;
}

.new_review {
	display: block;
}

.form-group label {
	display: block;
}

.form-group input {
	min-height: 2em;
}

.score {
	/*display: inline-block;*/
/*	text-align: right;
	margin-right: 5em;*/
	size: 3em;
}

.review-title {
}

.small-text {
	font-size: .5em;
}

.tiny img{
	max-width: 100px;
}

.lil-title {
	font-size: 1.2em;
	font-weight: bold;
	color: #31240C;
}

.score img {
	max-width: 5em;

}

.columns {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 2em;
    margin-right: 2em;
}
.tag_filter {
	max-width: 200px;
}
.route {
	display: block;
	font-size: .5em;
	color: #70909D;
	margin-left: 2em;
	/* height: 16px; */
}
.route a {
	text-decoration: none;
	color: #70909D;
	font-size: 1em;
}

.category-filter {
}

.side-menu {
	display: block;
}

a.side-links {
	display: block;
	text-decoration: none;
	color: #4B2A08;	
}

a.side-links.current {
	color: #999;
}
.cart img {
	max-width: 45px;
	max-height: 45px;
}
.cart {
    position: absolute;
    right: 96px;
    bottom: 0;
}

.table-tags {
	max-width: 100px;
}
/*
.name a {
	text-decoration: none;
	color: black;
}*/

span.price {
    background: #E1DC53;
    /* font-weight: normal; */
    color: white;
    border-radius: 20px;
    font-size: 17px;
    height: 27px;
    min-width: 30px;
    display: inline-block;
    vertical-align: top;
    line-height: 27px;
    text-align: center;
    padding: 0 5px;
    position: absolute;
    right: 21px;
    bottom: 7px;
}

.small-text {
    font-size: .5em;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.show_reviews {
    clear: both;
    padding-top: 2em;
}

.price {/* margin-left: .4em; */padding: 0.3em 0;}

.four-thumbnails {
    float: left;
    width: 20%;
    margin-right: 5%;
}

.thumbnail img {
    max-width: 100%;
}

.prod_imagen_grande {
    max-width: 75%;
    display: inline-block;
}

span.btns {
    position: absolute;
    left: 0;
    top: 0;
}

.btns form {
    display: inline-block;
}

.btns button {
    background: none;
    color: white;
    border: 0;
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
}

.cart-selector input[type="submit"] {
    background: url(../body/cart.png) no-repeat center;
    background-size: cover;
    border: 0;
    height: 3em;
    width: 4em;
    display: inline-block;
}

form.cart-selector {
    display: inline-block;
}

.navbar .container {
    max-width: 1280px;
    display: block;
    margin: 0 auto;
}

.pagination li {
	display:inline;
}

#oneprod .price {
    display: block;
}

.loading-gif-container {
    margin: 0 auto;
    margin-top: 15%;
}

img.loading {
    /* margin-left: -20px; */
}

.left-side {
	flex: 2 4 20%;
	flex-wrap: wrap;
	align-content: flex-start
}

category-selector {
    display: block;
}

.side-columns {
    display: flex;
}

input[type="reset"] {
}

.filter-title {
    /* padding: 5px; */
    text-align: center;
}

img.title-image {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.center_menu {
    font-size: .85em;
}